<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div id="app">
      {{ content | safe }}
    </div>
    <script type="module" src="{{ '/client/' + bundle | url }}"></script>
    <script nomodule src="https://cdnjs.cloudflare.com/ajax/libs/systemjs/6.3.2/s.min.js"></script>
    <script nomodule src="{{ '/client_legacy/' + bundle | url }}"></script>
  </body>
</html>
