<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
  
    {{ content.head | safe }}
  </head>
  <body>
    <div id="app">
      {{ content.html | safe }}
    </div>
  </body>
  <script>
    {{ dataFn | svelteData | safe }}
  </script>
  {% svelteClient 'app' %}
  <script nomodule src="https://cdnjs.cloudflare.com/ajax/libs/systemjs/6.3.2/s.min.js"></script>
  {% svelteClientLegacy 'app' %}
</html>
