<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
  </head>
  <body>
    <div id="app">
      {{ content | safe }}
    </div>
  </body>
  <script>
    window.__DATA__ = {{ dataFn | getDataForComponent | safe }}
  </script>
  <script type="module">
    {{ "app" | getSvelteClient | safe }}
  </script>
  <script nomodule src="https://cdnjs.cloudflare.com/ajax/libs/systemjs/6.3.2/s.min.js"></script>
  <script nomodule>
    {{ "app" | getSvelteClientLegacy | safe }}
  </script>
</html>
